<h1><%= @user.name %></h1>

<% if !@user.following?(current_user).nil? %>
  <p>button "Follow"</p>
<% elsif @user.following?(current_user) %>
  <p>button "Unfollow"</p>
<% else %>
 <!-- User does not need to follow or unfollow themself -->
<% end %>

<% if current_user.id == @user.id %>

  <div class="col-md-4">
    <%= render 'tweets/form' %>
  </div>
<% end %>

<div class="col-md-8" id="tweets">
  <% @user.tweets.reverse.each do |tweet| %>
    <%= render 'tweets/tweet', object: tweet %>
  <% end %>
</div>

<h3><%= @user.followed_users.length %> following</h3>
<h3><%= Relationship.where(followed_id: @user.id).length %> followers</h3>
